
/* Applicatin CSS */
body {
  /* Remove margins and padding around content */
  margin: 0;
  padding: 0;
  /* Fix background during scrolling */
  background-attachment: fixed;
  /* Use scalable background image (cross borwser) */
  background-image: url("./images/view.jpg");
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(206, 58, 21);
}


.imgRnd10 {
  /* Rounded image corners */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.imageShadow {
  /* Add drop shadow */
  -webkit-box-shadow: 2px 2px 3px 2px gray;
  -moz-box-shadow: 2px 2px 3px 2px gray;
  box-shadow: 2px 2px 3px 2px gray;
}

.divider {
  background-color: rgb(77, 118, 153);
  height: 5px;
  width: 95%;
  margin-left: 10px;
}

.transparentContainer {
  opacity: 0.9;
}

.topcontainer { 
  background-color : rgb(206, 156, 156);
  margin: 20px 0px 10px 0px;
  height: 200px;
  font-size: 50px;

}

nav {
  height: 135px;
  line-height: 30px;
}

.nav-wrapper {
  background-color: rgb(206, 58, 21);
  color: lightgray;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.logoholder {
  margin: 5px 0px 5px 10px; 
}

<<<<<<< HEAD
=======
.btn {
  background-color: rgb(206, 58, 21);
  color: lightgray;
}
>>>>>>> c90ada63d1d86abb81164de4f541494f61c052f8

.mainLogo {
  width : 100px;
  margin: 10px 0px 10px 20px;
}

/* for icon */
/* .bigIcon {
  font-size: 100px;
} */

/* for header of nav bar */
.header {
  margin: 3rem 2rem 0 0;
  padding: 1rem;
  color: lightgray;
}

#nav-mobile {
  margin-right: 200px;
  margin-top: 100px;
} 

/* for text, cards and buttons inside .container */
.mainSec {
  padding: 2rem 0rem 1rem 1rem;
  margin: 1rem 0rem 1rem 1rem;
}

.container { 
  background-color:  lightgray;
  padding: 1rem 0rem 1rem 1rem;
  margin: 1rem 0rem 1rem 1rem;
  border-radius: 18%;
    /* Set min height to fill larger screens */
  min-height: 800px;
}
<<<<<<< HEAD

#sectionList{
  margin-left: 20px;


}

=======
>>>>>>> c90ada63d1d86abb81164de4f541494f61c052f8
